@keyframes loaderSpin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.buttonWithLoader__loader {
  position: relative;

  &.button--secondary {
    &:disabled {
      &:before {
        border: rgba($core, 0.24) 0.125rem solid;
        border-top: $core 0.125rem solid;
      }
    }
  }

  &:disabled {
    &:before {
      content: '';
      transform: translate3d(0, 0, 0);
      perspective: 1000px;
      backface-visibility: hidden;
      display: block;
      border: rgba(white, 0.24) 0.125rem solid;
      border-top: white 0.125rem solid;
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
      animation: loaderSpin 600ms forwards infinite;
    }

    .buttonWithLoader__text {
      visibility: hidden;
    }
  }
}
