.buttonCircle {
  width: 2rem;
  height: 2rem;
  background: $white;
  border-radius: 100%;
  border: none;
  transition: background-color 200ms;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0;

  &:focus,
  &:hover {
    outline: 0;
    background-color: #f2f7fc;

    .line {
      background: $core;
    }
  }

  .line {
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 1.125rem;
    background: $core--light;
    left: 7px;
    top: 15px;

    // Rotating 45deg each way to make 'x' for close
    &:first-of-type {
      transform: rotate(-45deg);
    }
    &:last-of-type {
      transform: rotate(45deg);
    }
  }
}
