.buttonCircle {
  width: 2rem;
  height: 2rem;
  background: $white;
  border: 1px solid $core__24;
  border-radius: 100%;
  transition: background-color 0.2s;
  cursor: pointer;
  display: block;
  position: relative;

  &:focus,
  &:hover {
    outline: 0;
    background-color: #f2f7fc;

    .line {
      background: $core;
    }
  }

  .line {
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 0.75rem;
    background: $core--light;
    left: calc(0.625rem - 1px); // ((2rem button width - 0.75rem line width) /2) - 1px border width
    top: calc(0.9375rem - 1px); //((2rem button width - 0.125rem line width) /2) - 1px border width

    // Rotating 45deg each way to make 'x' for close
    &:first-of-type {
      transform: rotate(-45deg);
    }
    &:last-of-type {
      transform: rotate(45deg);
    }
  }
}
