.selectWrapperContainer {
  .selectWrapper {
    position: relative;

    select {
      transition: all 0.2s ease-in;
      width: 100%;
      border: 1px solid transparent;
      background: $core--superLight;
      border-radius: 0.25rem;
      padding: 0.75rem 1rem;
      font: 400 1.125rem/1.5rem 'Source Sans Pro', Arial, sans-serif;
      color: $core--dark;
      appearance: none;
      outline: none;

      + .chevron:after {
        content: '';
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        right: 1.25rem;
        top: 1.125rem;
        border: solid $core__50;
        border-width: 0 1.75px 1.75px 0;
        border-radius: 1px;
        transform: rotate(45deg);
      }

      @-moz-document url-prefix() {
        + .chevron:after {
          top: 1.1rem;
        }
      }

      &:focus {
        + .chevron {
          + .selector {
            right: 0;
          }
        }
      }
    }

    select::-ms-expand {
      display: none;
    }
  }
}
