// Core colour
$core--dark: #093169;
$core: #5b728f;
$core__50: rgba(122, 152, 191, 0.5);
$core__24: rgba(122, 152, 191, 0.24);
$core__12: rgba(122, 152, 191, 0.12);
$core--light: #cbd8f2;
$core--superLight: #f5f9ff;

// Accent colours
$blue: #59acff;
$red: #ff5959;
$green: #5ae096;
$white: #fff;
