.inputWrapper {
  .input {
    margin: 0;
    position: relative;

    input {
      display: block;
      width: 100%;
      border: 1px solid transparent;
      transition: all 0.2s ease-in;
      background: $core--superLight;
      border-radius: 0.25rem;
      padding: 0.75rem 1rem;
      font: 400 1.125rem/1.5rem 'Source Sans Pro', Arial, sans-serif;
      color: $core--dark;
      outline: none;

      &:focus {
        + .selector {
          right: 0;
        }
      }
    }
  }
}
