.nav {
  width: 100%;
  @include flexSpaceBetween;
  font: 400 1.125rem/1.8125rem 'Source Sans Pro', Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  padding: 1.5rem;
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (hover: hover) {
    &:hover {
      .logo {
        .logoText {
          color: $core--dark;
        }
      }

      .background {
        background-color: white;
      }

      .nav__itemLink {
        color: $core;
      }

      .mobileMenu {
        .line {
          background: $core;
        }
      }
    }
  }

  &.productsShown {
    .background {
      height: 100vh;
    }

    .nav__links {
      height: auto;
      overflow-y: scroll;
    }
  }

  .background {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    transform: translate3d(0px, 0px, 0px);
    transition: height cubic-bezier(0.4, 0.1, 0.1, 1) 500ms,
      background-color 500ms ease-in;
    transition-delay: 300ms;
    z-index: -1;
  }
}

.nav__links {
  position: fixed;
  top: 5rem;
  width: 100%;
  order: 3;
  overflow: hidden;
  transition: opacity 300ms ease-in-out;
  transition-delay: 0ms;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  max-height: calc(100vh - 6.5rem);

  ul {
    padding: 0;
    margin: 0;
    display: block;
  }
}

.nav__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  color: $white;
  position: relative;
  padding: 0 0 1.5rem 0;

  &:last-of-type {
    padding-bottom: 0.5rem;
  }

  &.nav__item--contact {
    background-color: $blue;
    padding: 1rem 1.25rem;
    margin-bottom: 1.5rem;
    border-radius: 1.75rem;
    width: auto;

    .nav__itemLink {
      display: block;
      color: white;
      font: 700 1.25rem/1.25rem 'Source Sans Pro', Arial, sans-serif;
    }
  }
}

.nav__itemLink {
  font: 700 1.5rem / 2rem 'Source Sans Pro', Arial, sans-serif;
  color: $core--dark;

  &:active {
    outline: none;
  }
}

.nav__itemSocialLink {
  color: $core--light;

  &:nth-of-type(1) {
    padding: 0 0.75rem 0 0;
  }

  &:nth-of-type(2) {
    padding: 0 0 0 0.75rem;
  }
}

.logo {
  text-decoration: none;
  width: calculate-rem(220px);
  order: 1;
  display: block;
  align-items: center;
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 0.875rem;

  .logoText {
    font: 600 calculate-rem(22px) / 2rem 'Source Sans Pro', Arial, sans-serif;
    color: $white;
    text-decoration: none;
  }
}

// Products

.nav__products {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: max-height 150ms ease-in-out;
  transition-delay: 0ms;

  .nav__itemLink {
    transition: opacity 300ms ease-in-out;
    transition-delay: 0ms;
  }

  &.active {
    max-height: calculate-rem(616px);
    transition: max-height 500ms ease-in-out;

    .nav__itemLink {
      transition: opacity 500ms ease-in-out;
      transition-delay: 200ms;
      opacity: 1;
    }
  }

  .nav__itemLink {
    color: $core;
    font-weight: 400;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    padding: 1.125rem 0 0 1.5rem;
  }

  div {
    span {
      display: block;
    }
  }
}

.nav__productsControl {
  cursor: pointer;
  outline: none;
}

.nav__productsControl__icon {
  display: inline-block;
  color: $core--light;
  position: relative;
  top: calculate-rem(3px);
  left: calculate-rem(3px);
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  font-size: 1.5rem;
}

.nav__productsControl__icon--active {
  transform: rotate(180deg);
}

.productsHeading {
  display: none;
}

// Active / Open nav / Fixed

.nav--active,
.nav--fixed {
  .background {
    @include softShadow;
    background-color: white;
  }

  .logo {
    .logoText {
      color: $core--dark;
    }
  }

  .mobileMenu {
    .line {
      background: $core;
    }
  }
}

.nav--fixed {
  position: fixed;
}

.nav--active {
  .nav__links {
    opacity: 1;
    pointer-events: all;
    transition: opacity 500ms ease-in-out;
    transition-delay: 200ms;
  }

  .background {
    height: 27.5rem;
    transition: height cubic-bezier(0.4, 0.1, 0.1, 1) 300ms,
      background-color 300ms ease-in;
  }
}
// Mobile Nav Icons Animation

.mobileMenu {
  width: 1.25rem;
  height: 1rem;
  padding: 0;
  position: relative;
  margin: calculate-rem(7px) 0;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  order: 2;
  background: none;
  border: none;
  outline: none;

  .line {
    display: block;
    position: absolute;
    height: 0.125rem;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 7px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 14px;
      transform-origin: left center;
    }
  }

  &.open {
    .line {
      &:nth-child(1) {
        transform: rotate(45deg);
        left: 3px; // Positioning animated 'X' in middle of element
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        left: 3px; // Positioning animated 'X' in middle of element
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    .background {
      height: 6rem;
      transition: height cubic-bezier(0.4, 0.1, 0.1, 1) 300ms,
        background-color 300ms ease-in;
    }

    &.productsShown {
      .background {
        height: 20rem;
        transition-delay: 0ms;
      }
    }
  }

  .logo {
    gap: 1rem;
    width: 235px;

    .logoText {
      font: 600 1.5rem / 2rem 'Source Sans Pro', Arial, sans-serif;
    }
  }

  .nav__links {
    position: static;
    top: 0;
    margin: 0;
    overflow: visible;
    width: calc(100% - 235px);
    @include flexJustifyRight;
    order: 2;
    opacity: 1;
    pointer-events: all;

    ul {
      @include flexJustifyLeft;
      align-items: center;
    }

    .nav__productsControl__icon {
      font-size: 1rem;
      top: calculate-rem(1px);
    }

    .nav__products {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      max-height: auto;
      overflow: visible;
      @include flexJustifyLeft;
      top: 5.875rem;
      left: 0;
      width: 100%;
      transition: opacity 300ms ease-in-out;
      transition-delay: 0;

      &.active {
        max-height: auto;
        opacity: 1;
        pointer-events: all;
        transition: opacity 600ms ease-in-out;
        transition-delay: 200ms;
      }

      .productsHeading {
        display: block;
        font: 700 1.5rem / 2rem 'Source Sans Pro', Arial, sans-serif;
        color: $core--dark;
        padding: 0 2rem;
        width: 100%;
      }

      div {
        display: grid;
        width: 100%;
        grid-template-columns: 250px 250px 250px auto;
        padding: 0 0 3rem 0;
      }

      div span {
        width: 100%;
        padding: 0 2rem;
      }

      .nav__itemLink {
        margin: 1.5rem 0 0 0;
        padding: 0;
      }

      .nav__itemSocialLink {
        &:nth-of-type(1) {
          padding: 0;
          margin: 0 0 0 0.5rem;
        }
        &:nth-of-type(2) {
          padding: 0;
          margin: 0 0 0 2rem;
        }
      }
    }
  }

  .nav__item {
    width: auto;
    margin: 0 0 0 1.5rem;
    padding: 0;
    opacity: 1;

    &:first-of-type,
    &:last-of-type {
      padding: 0;
    }

    &.nav__item--contact {
      margin-bottom: 0;
      padding: 0.75rem 1.25rem;

      .nav__itemLink {
        font: 600 1.125rem/1.5rem 'Source Sans Pro', Arial, sans-serif;
      }
    }
  }

  .nav__itemLink {
    color: $white;
    font: 400 1.125rem/1.5rem 'Source Sans Pro', Arial, sans-serif;
  }

  .nav--active .nav__itemLink,
  .nav--fixed .nav__itemLink {
    color: $core;
  }

  .nav__itemLink--open {
    color: $core--light;
  }

  .mobileMenu {
    order: 3;
    display: none;
  }
}
